<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.usecase.org/UseCaseDsl"
			class = "org.usecase.usecasedsl.UsecasedslPackage"
			genModel = "model/generated/UseCaseDsl.genmodel" />
	</extension>
</plugin>
